{% extends '_layouts/master.html.twig' %}

{% block title %}Admin Dashboard
{% endblock %}

{% block body %}
	<div id="admin-dashboard-live">
		{% include 'admin_dashboard/_content.html.twig' %}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% include '_layouts/_live_dashboard_poll.html.twig' %}
{% endblock %}
